{
  email {$ACME_EMAIL}
  admin off
}

api.veraehealth.com {
  encode zstd gzip
  reverse_proxy api:4000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    -Server
  }
  log {
    output stdout
    format json
  }
}
